<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportetu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_image_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activite.password_reset"></activity>
        <activity android:name=".activite.Authentification"></activity>
        <activity android:name=".activite.Passerelle" />
        <activity android:name=".activite.succesActivity" />
        <activity android:name=".activite.historiqueActivites" />
        <activity android:name=".activite.dialogActivitychoixSports" />
        <activity android:name=".activite.choix3Sports" />
        <activity android:name=".activite.Inscription" />
        <activity android:name=".activite.programmationActivity">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.APP_CALENDAR" />

                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>
        </activity>

        <receiver android:name=".model.AlarmReceiver" />

        <activity android:name=".activite.consultationActivity" />

        <service
            android:name=".activite.service"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".activite.splashActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activite.main_activity" />
    </application>

</manifest>